.header-buttons {
    position: absolute;
    right: 10px;
    top: 8px;
}

.btn-green {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
    margin-right: 3px;
    width: 40px;
}

.btn-blue {
    background-color: lightblue !important;
    border-color: lightblue !important;
    margin-right: 3px;
    width: 40px;
}

.btn-red {
    background-color: indianred !important;
    border-color: indianred !important;
    margin-right: 3px;
    width: 40px;
}

.table-row {
    cursor: pointer;
}

.selected {
    background-color: rgba(0, 0, 0, 0.075);
}
.custom-table-style .table td, .custom-table-style .table th {
    padding: 0.3125rem .9375rem;
    vertical-align: top;
    font-size: 12px;
    font-family: sans-serif;
}
.custom-table-style .table {
    margin-bottom: 0;
    border: 0px;
}
.custom-table-style .table .thead-light th {
    background: #82b443;
    color:#FFF;
}

.default-modal-size-digidesk{
    width : 50%;
    height: 0px !important; 
}

.popup-modal {
    height: auto; 
}
th.label-field-column {
    background: white !important;
    color: black !important;
}
th.label-field-column-black {
    background: rgb(118, 117, 117) !important;
 
}

.class-doc-approved-already{
    background: rgb(118, 117, 117) !important;
}

.popup-modal-content .user{
    text-align: left;
}
.table-check {
    margin-bottom: 0;
}
.table-check input {
    margin-right: 10px;
    margin-top: 5px;
}
.approval-status {
    white-space: nowrap;
    padding: 6px 8px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 4px;

    margin-right: 5px;
}
.gen_popup_content .react-bs-table table{
    table-layout:initial;
}
.gen-cls.popup-content{
    width: 80% !important;
}